<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
  <h1><%= name%></title>
    <form action="/user" method="get">
      First name: <input type="text" name="firstName"><br>
      Last name: <input type="text" name="lastName"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
